.app-footer {
  @include animate-common-ty;
  background-color: $color-dark-gray;
  padding: 35px 20px;
  @include media-breakpoint-down(sm) {
    padding: 35px 20px;
  }
  text-align: left;

  h5 {
    padding-bottom: 20px;
    font-size: $font-size-small;
  }
  p, span {
    font-size: $font-size-x2-small;
  }

  .footer-logo {
    display: flex;
    img {
      width: 32.3px;
      height: auto;
    }
    h5 {
      margin-top: 10px;
      padding-bottom: 0;

    }
    .footer-title {
      padding: 0 15px;
      color: $color-light-black;
    }
    * {
      margin-bottom: 0;
    }
  }
  .footer-content{
    margin-top: 15px;

    .footer-left {
      padding-top: 10px;
      a {
        padding: 0;
        color: $color-light-black;
        font-size: $font-size-x2-small;
        margin-bottom: 11px;
        &:hover {
          font-weight: bolder;
        }
      }
    }

    .footer-left-about {
      flex: 1;
    }

    .footer-left-contact {
      flex: 1.9;
      @include media-breakpoint-down(sm) {
        flex: 1;
      }
      p {
        margin: 0;
      }
    }

    .footer-right-content{
      margin-top:25px;
      margin-left: -20px;
      @include media-breakpoint-down(sm) {
        margin-left: 0;
      }
      h5 {
        padding-bottom: 0;
      }
      img{
        width:15px;
        opacity:0.7;
      }
      a {
        font-size: $font-size-x2-small;
      }
    }
  }
}
