.button-round {
  display: inline-block;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  box-shadow: $color-black 0 0 0 1px;
  box-sizing: border-box;
  font-size: $font-size-default;
  font-family: Inconsolata;
  font-weight: normal;
  font-style: normal;
  line-height: 1.05;
  letter-spacing: normal;
  text-align: center;
  color: $color-black;
  padding: 10px 10px;
  text-decoration: none !important;
  &:hover {
    box-shadow: $color-black 0 0 0 2px;
    color: $color-black;
    font-weight: bold;
  }

}
.button-normal-round {
  @extend .button-round;
  font-size: $font-size-default;
  padding: 13px 30px;
  @include media-breakpoint-down(sm) {
    padding: 13px 20px;
  }
}
.button-small-round {
  @extend .button-round;
  font-size: $font-size-x1-small;
  padding: 11px 22px;
}
.button-extend-small-round {
  @extend .button-round;
  padding: 7px 30px;
}
.button-extend-normal-round {
  @extend .button-round;
  padding: 14px 74px;
  @include media-breakpoint-down(sm) {
    padding: 14px 40px;
  }
}
.button-extend-large-round {
  @extend .button-round;
  padding: 14px 92px;
  @include media-breakpoint-down(sm) {
    padding: 14px 50px;
  }
}

.disabled {
  background: $color-dark-gray;
  box-shadow: $color-dark-gray 0 0 0 2px;
  color: $color-light-black;
  &:hover {
    color: $color-light-black;
    box-shadow: $color-dark-gray 0 0 0 2px;
  }
}
